* {
    border: 1px solid red;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.screen {
    height: 24px;
}

.buttons {
    display: flex;
}

.message {
    border: none;
}


